<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Analizador de Codigo Simplescript</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
    <div class="header">
        <h1>Analizador Léxico y Sintáctico</h1>
    </div>

    <div class="container">
        <div class="editor">
            <div class="editor-header">Código Fuente</div>
            <div class="editor-content">
                <form id="formulario" th:action="@{/compilarWeb}" method="post">
                    <textarea id="codigo" name="codigo" placeholder="Ingresa tu código aquí..." th:text="${codigo}"></textarea>
                    <div style="display: flex; gap: 10px; margin-top: 15px;">
                        <button type="submit" style="margin-top: 0;">Compilar</button>
                        <button type="button" id="limpiar-codigo" style="margin-top: 0; background-color: #e74c3c;">Limpiar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="editor-content" style="margin-top: 20px;">
            <form id="formularioArchivo" th:action="@{/compilarArchivo}" method="post" enctype="multipart/form-data">
                <div class="file-upload">
                    <label for="archivo" class="file-label">Seleccionar archivo .txt</label>
                    <input type="file" id="archivo" name="archivo" accept=".txt" style="display: none;">
                    <span id="nombre-archivo">Ningún archivo seleccionado</span>
                    <button type="submit" disabled>Subir y Analizar</button>
                </div>
            </form>
        </div>

        <div class="editor">
            <div class="editor-header">Resultado del Análisis</div>
            <div class="editor-content">
                <pre id="resultado" th:text="${resultado}">El Resultado del análisis aparecerá aquí...</pre>
            </div>
        </div>
    </div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html>